<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 3</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>

<p>
 For the purpose of this lab is to learn different techniques to encode the categorical features to numeric quantities. To keep it simple, you will apply these encoding methods only on one column. However, the same approach can be extended to all columns.
</p>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
     <li><a href="#correct data format">Replacing values</a></li>
    <li><a href="#data_standardization">Encoding labels</a></li>
    <li><a href="#data_normalization">One-Hot encoding</a></li>
</ol>

</div>

In [1]:
#Import Python Libraries
import numpy as np
#import scipy as sp
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1 align=center>Part 1 : Replacing values </h1>
</div>

Let's start with the most basic method, which is just replacing the categories with the desired numbers. This can be achieved with the help of the replace() function in pandas. The idea is that you have the liberty to choose whatever numbers you want to assign to the categories according to the business use case.

In [2]:
df = pd.read_csv('auto.csv')

In [3]:
# To see what the data set looks like, we'll use the head() method.
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450

In [4]:
#Lets list the data types for each column
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [5]:
# assign each categpry the numarical value you wish. 
#In this exmale I assign 1 to gas and 0 to diesel. We use the dictionary type in pandas to do such operation.
map_cat = {'fuel-type': {'gas': 1, 'diesel':0}}

In [6]:
# BE SURE TO CONVERT THE COLUMN TYPE TO CATEGORY, FOR FASTER OPERATION AND BETTER PERFORMANCE.
df['fuel-type'] = df['fuel-type'].astype('category')
df['fuel-type'].dtype

CategoricalDtype(categories=['diesel', 'gas'], ordered=False)

In [7]:
# Apply the replace function to get the desired result
df.replace(map_cat, inplace=False)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,1,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,1,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,122.0,alfa-romero,1,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,1,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,1,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95.0,volvo,1,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
197,-1,95.0,volvo,1,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,-1,95.0,volvo,1,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,-1,95.0,volvo,0,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,-1,95.0,volvo,1,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [10]:
df[['num-of-doors']].value_counts()

num-of-doors
four            115
two              86
dtype: int64

In [17]:

df['num-of-doors']=df['num-of-doors'].astype('category')
map_cat1 = {'num-of-doors': {'four': 4, 'two':2}}
df.replace(map_cat1,inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,num-of-doors_new
0,3,122.0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495,2
1,3,122.0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500,2
2,1,122.0,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500,2
3,2,164.0,audi,gas,std,4,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950,4
4,2,164.0,audi,gas,std,4,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450,4


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1 align=center>Part 2 : Label Encoding </h1>
</div>

Another approach is to encode categorical values with a technique called "label encoding", which allows you to convert each value in a column to a number. Numerical labels are always between 0 and n_categories-1.

In [18]:
# load the data file again or clear all output cell>>all output>>clear
df1 = pd.read_csv('auto.csv')

In [20]:
# a very straight forward method is to use cat codes method 
df1['num-of-doors'] = df1['num-of-doors'].astype('category')
df1['num-of-doors'] = df1['num-of-doors'].cat.codes
df1.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,1,std,1,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,1,std,1,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,122.0,alfa-romero,1,std,1,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,1,std,0,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,1,std,0,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1 align=center>Part 3 : One-Hot encoding </h1>
</div>

In [21]:
# load the data file again or clear all output cell>>all output>>clear
df2 = pd.read_csv('auto.csv')

In [22]:
#get indicator variables and assign it to data frame "dummy_variable_1" 
dummy_variable_1 = pd.get_dummies(df2["fuel-type"])
dummy_variable_1.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [23]:
# merge data frame "df" and "dummy_variable_1" 
df3 = pd.concat([df2, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df3.drop("fuel-type", axis = 1, inplace=True)
df3.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,diesel,gas
0,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111.0,5000.0,21,27,13495,0,1
1,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111.0,5000.0,21,27,16500,0,1
2,1,122.0,alfa-romero,std,two,hatchback,rwd,front,94.5,171.2,...,2.68,3.47,9.0,154.0,5000.0,19,26,16500,0,1
3,2,164.0,audi,std,four,sedan,fwd,front,99.8,176.6,...,3.19,3.40,10.0,102.0,5500.0,24,30,13950,0,1
4,2,164.0,audi,std,four,sedan,4wd,front,99.4,176.6,...,3.19,3.40,8.0,115.0,5500.0,18,22,17450,0,1